@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Staatliches&display=swap");

.navbar {
  text-align: center;
  border-radius: 20px;
  margin-left: 35px;
  min-height: 100vh;
  color: white;
  background: #673ab7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Staatliches", cursive;
}

.navbar a {
  font-size: 25px;
  color: white;
}

.navbar a:hover {
  font-size: 30px;
  color: white;
}

.navbar a:active {
  font-size: 30px;
  color: white;
}

.comming {
  height: 80vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.navbar hr {
  color: white;
  border: 1px solid white;
  width: 100%;
}

.profile span {
  color: grey;
}

.font-staatliches {
  font-size: 25px;
  font-family: "Staatliches", cursive;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.account-card {
  height: 60vh;
  overflow-y: scroll;
}

.account-container {
  min-height: 100vh;
}

.modal-click {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    background-color: none;
    color: black;
    margin-bottom: 20px;
  }
}
